<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bashconsole_Shopfinder" title="Shopfinder" module="Bashconsole_Shopfinder" sortOrder="50" resource="Bashconsole_Shopfinder::stores" parent="Magento_Backend::content_elements" action="shopfinder/stores"/> 
    </menu>
</config>